# Database (Ignore local data, keep schema)
*.db
*.sqlite3
*.sqlite3-journal

# Environment / Secrets
.env
.flaskenv
instance/

# Virtual Environments
venv/
.venv/
env/

# Python Cache & Builds
__pycache__/
*.py[cod]
dist/
build/
*.egg-info/

# IDEs
.vscode/
.idea/
